/autostart
xkcd.json
/baloofilerc
/blender
/dconf
/discord
/github-copilot
/glib-2.0
/go
/kactivitymanagerd-statsrc
/kactivitymanagerdrc
/katerc
/katevirc
/kconf_updaterc
/kded5rc
/kded6rc
/kdedefaults
/kdeglobals
/kglobalshortcutsrc
/konsolerc
/ktimezonedrc
/kwalletrc
kwinoutputconfig.json
/kwinrc
/lunarclient
/menus
mimeapps.list
/mpd
/ncspot
/ow-electron
/plasma-localerc
/plasma-org.kde.plasma.desktop-appletsrc
/plasmashellrc
/polybar.old
/powermanagementprofilesrc
QtProject.conf
/simple-update-notifier
/Sin-cy
Trolltech.conf
user-dirs.dirs
user-dirs.locale
/vesktop
/xfce4
/transmission
